.new-position {
    color: lightseagreen;
}

.exploded {
    color: darkorange;
}

.flagged {
    color: red;
}

.open-position {
    color: greenyellow;
}

.field-row {
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    display: grid;
}
.position{
    cursor: pointer;
}