.new-position {
    color: lightseagreen;
}

.exploded {
    color: darkorange;
}

.flagged {
    color: red;
}

.open-position {
    color: greenyellow;
}

.field-row {
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    display: flex;
}

.position {
    cursor: pointer;
    font-family: 'Play', sans-serif;
    text-align: center;
    width: 30px;
    height: 30px;
}

button {
    width: fit-content;
    height: fit-content;
}

.centered-text{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
}