<div class="container">
  <div class="align-self-center">
    <div class="row">
      <div class="col h-50">
        <div class="row">
          <mat-form-field class="m-2 w-1">
            <mat-label>Rows x Cols</mat-label>
            <input
              matInput
              placeholder="Rows x Cols (e.g. 1-100)"
              [(ngModel)]="size"
            />
          </mat-form-field>
          <mat-form-field class="m-2">
            <mat-label>Mines %</mat-label>
            <input
              matInput
              placeholder="Mines % (e.g. 0.1 - 1.0)"
              [(ngModel)]="mines"
            />
          </mat-form-field>
          <button
            mat-flat-button
            style="background-color: green; color: white"
            [disabled]="!size || !mines"
            (click)="newGame()"
            class="m-2"
          >
            New Game
          </button>
        </div>
        <div class="row" *ngIf="hasGames">
          <mat-form-field appearance="fill" class="m-2">
            <mat-label>Open games</mat-label>
            <mat-select [(value)]="selectedGameId">
              <mat-option
                *ngFor="let g of openGames; let i = index"
                value="{{ g.gameId }}"
                >{{ g.gameId }} - {{ g.gameTime | date: "medium" }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <button
            [disabled]="!selectedGameId"
            [class.mat-button-disabled]="!selectedGameId"
            mat-stroked-button
            style="background-color: darkorange; color: white"
            (click)="goToGame()"
            class="m-2"
          >
            Go
          </button>
        </div>

        <div class="row">
          <mat-form-field class="m-2" *ngIf="gameCreated">
            <mat-label>Start Time</mat-label>
            <input
              matInput
              disabled
              value="{{ currentGame.gameTime | date: 'medium' }}"
            />
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field
            class="m-2"
            *ngIf="gameCreated && currentGame.exploded"
          >
            <mat-label>End Time</mat-label>
            <input
              matInput
              disabled
              value="{{ currentGame.endTime | date: 'medium' }}"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="col">
        <div *ngIf="gameCreated" class="m-4">
          <div *ngFor="let aRow of currentField; let y = index">
            <div class="field-row">
              <div *ngFor="let pos of currentField[y]; let x = index">
                <div
                  class="position"
                  [style.color]="COLORS[pos.hint]"
                  *ngIf="pos.open; else closedOrFlagged"
                >
                  {{ pos.hint }}
                </div>
                <ng-template #closedOrFlagged>
                  <div
                    class="position"
                    *ngIf="!currentGame.exploded; else gameOver"
                    (click)="pos.flag ? '' : openPosition(x, y)"
                    (contextmenu)="flagPosition(x, y)"
                  >
                    <mat-icon
                      [class.flagged]="!pos.open && pos.flag"
                      [class.new-position]="!pos.open && !pos.flag"
                    >
                      {{ pos.flag ? "flag" : "blur_on" }}
                    </mat-icon>
                  </div>
                </ng-template>
                <ng-template #gameOver>
                  <div class="position">
                    <mat-icon class="exploded" *ngIf="pos.mined; else notMined"
                      >api</mat-icon
                    >
                    <ng-template #notMined>
                      <mat-icon
                        class="exploded"
                        *ngIf="pos.flag; else notFlagged"
                        >flag</mat-icon
                      ></ng-template
                    >
                    <ng-template #notFlagged
                      ><span [style.color]="COLORS[pos.hint]">{{
                        pos.hint
                      }}</span></ng-template
                    >
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
